  
<launch>

  <!--for velodyne_driver velodyne_node-->
  <arg name="model" default="VLP16"/>
  <!-- npacket: 패킷 몇개 누적할거냐; packet rate(1초) = 754 in vlp16 single mode -->
  <!-- npacket(1회전) = packet rate / (rpm/60) -->
  <arg name="npackets" default="754"/> 
  <arg name="rpm" default="600"/>
  <arg name="port" default="2368"/>
  <!-- <arg name="frame_id" default="/base_laser"/> -->

  <!--for velodyne_pointcloud cloud_node-->
  <!-- <arg name="model" type="string" default="VLP16"/> -->
  <arg name="max_range" default="130.0"/>
  <arg name="min_range" default="0.4"/>
  <arg name="calibration" default="$(find velodyne_pointcloud)/params/VLP16db.yaml" />

  <node pkg="velodyne_driver" type="velodyne_node" name="vlp16_packet_receiver">
    <param name="model" type="str" value="$(arg model)"/>
    <param name="npackets" type="int" value="$(arg npackets)"/>
    <param name="rpm" type="double" value="$(arg rpm)"/>
    <param name="port" type="int" value="$(arg port)"/>
    <!-- <param name="frame_id" type="str" value="$(arg frame_id)"/> -->
  </node>

  <node pkg="velodyne_pointcloud" type="cloud_node" name="vlp16_pointcloud_converter">
    <param name="model" type="str" value="$(arg model)"/>
    <param name="max_range" type="double" value="$(arg max_range)"/>
    <param name="min_range" type="double" value="$(arg min_range)"/>
    <param name="calibration" type="str" value="$(arg calibration)"/>
  </node>

</launch>